// Typography
$body-font-size: 100%;
$font-size-xs: 1em; // 15px
$font-size-s: 1.067em; // 16px - min screen 480px
$font-size-m: 1.133em; // 17px - min screen 640px
$font-size-l: 1.267em; // 19px - min screen 1024px

$h1-s: 2em; // phone
$h1-m: 2.5em; // tablet
$h1-l: 3em; // desktop

$h2-s: 1.625em; 
$h2-m: 2em;
$h2-l: 2.25em;

$line-height: 1.6;
$letter-spacing: 0.04em;

// Colours
$darkgrey: #333333;
$yellow: #FFBF02;

// Breakpoints
$break-small: 600px;
$break-medium: 1024px;
$break-large: 1400px;

